body {
	font-size:   20                ;
	font-family: "PT Serif", serif ;
	color:       #333              ;
	position:    relative		   ;
	width:       960px			   ;
}
svg {
	height: 70%  ;
	width:  auto ;
}
table {
	height:  auto              ;
	display: inline-block     ;
	border-collapse: collapse ;
	background-color: #ddd    ;
}
th, td {
	padding:        15px            ;
	text-align:     center          ;
	vertical-align: center          ;
}
#variableTable {
	padding: 5%;
	background-color: #ddd;
}
.bottomBorder {
	display: inline-block;
	position: relative;
	text-align: center;
}
.bottomBorder::after {
	position: absolute;
	left: 50%;
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background: #000; 
}
.bottomBorder:hover::after {
	width: 100%;
	margin-left: -50%;
	transition: all .3s linear;
}
#reset {
	visibility: hidden;
}
#addMe {
	visibility: collapse;
}

/** Layout of whoole page view */
.tableFormat {
	position: absolute;
	left: 0;
	top: 0;
	height: 65%;
	width: 40%;
}
#move {
	position: absolute;
	top: 0;
	height: 90%;
	width: 100%;
	left: 300px;
}
#playBar {
	position: absolute;
	top: 91%;
	height: auto;
	width: 546px;
	left: 452px;
	background-color: #ddd;
	padding-left: 1%;
}

.input-error { 
	background-color: #fdd;
}

.input-ok { 
	background-color: #dfd;
}
